form#id01.container.w-25(style="display='none'")
    .form-group
        label(for='account') Account:
        input.form-control(placeholder='Account', type='text')
    .form-group
        label(for='password') Password
        input#password.form-control(placeholder='Password', type='password')
    button.btn.btn-lg.btn-primary(type='submit') Sign in