extends layout


block navbar
  include ./nav.jade

block content

  .jumbotron.jumbotron-fluid
    h1  hello
  //iframe(src='https://www.vscinemas.com.tw/film/index.aspx', frameborder='0', width='100%', height='600px')
