script.
    window.fbAsyncInit = function() {
        FB.init({
          appId      : '528750284184452',
          status     : false,
          cookie     : true,
          xfbml      : true,
          oauth      : true
        });
      }